@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

html img{
    -webkit-user-drag: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: linear-gradient(rgb(0, 2, 122),rgba(0, 4, 248), rgba(0, 67, 252))
   
}

h1{
    font-size: 2em;
}
p{
    font-size: 1.5em;
    font-weight: bold;
}

#modalTrue strong{
    color: green;
}

#modalFalse strong{
    color: red;
}
main{
    width: 80%;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.agradecimento{
    color: transparent;
    font-size: 5em;
    -webkit-text-stroke: 1px black;
    filter: drop-shadow(0px 0px 5px yellow);
}

.aplauso{
    width: 60%;
    height: auto;
    position: absolute;
    bottom: 0;
}

#logo{
    width: 60%;
}

.btn{
    background-color: #D2BF19;
    width: 40%;
    padding: 12px;
    border-radius: 40px;
    border: none;
    font-family: 'Inter';
    font-size: 3.5em;
    text-align: center;
    color:#FFFFFF;
    cursor: pointer;
    transition: .5s ease;
}

.btn:hover{
    background-color: #e4da87;
}

/*  Pergunta 1  */

.pergunta{
    position: relative;
    width: 100%;
    background: linear-gradient(rgb(184, 0, 0),rgb(255, 0, 0), rgb(184, 0, 0));
    padding: 2em 1.5em;
    border-radius: 20px;
    border-color: #FFFFFF;
    border-style: groove;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #FFFFFF;
}





.logo{
    width: 25vw;

}


.respostas{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}



.opcoes a{
    color: black;
    display: inline-flex;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(rgb(199, 196, 0),rgb(255, 251, 0), rgb(199, 196, 0));
    border-radius: 20px;
    border-color: #FFFFFF;
    border-style: groove;
    padding: 12px 1.5em;
}

.opcoes a:hover{
    width: 100%;
    background: linear-gradient(rgb(199, 196, 190),rgb(255, 252, 190), rgb(199, 196, 190));
    border-radius: 20px;
    border-color: #FFFFFF;
    border-style: groove;
    padding: 12px 1.5em;
}


/*  Modal - Opção Correta   */

.modal{
    background: linear-gradient(rgb(0, 2, 122),rgba(0, 4, 248), rgba(0, 67, 252));
    z-index: 1;
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container-modal{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
    height: 80vh;
    background: rgba(0, 255, 102, 0.38);
    padding: 2em;
    border-radius: 5px;
}

.container-modal img{
    width: 20%;
}

#botao{
    display: grid;
    place-items: center;
    position: absolute;
    bottom: -5%;
    right: -10%;
    transform: translate( 0, 0);
    width: 25%;
    height: 10%;
    background-color: #D2BF19;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-size: 2em;
    color: #000000;
    font-weight: bold;
    transition: .5s ease-in;
}

#botao:hover{
    background-color: #a0921a;
}